.sobre-mim-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkslateblue;
  
}

.text-container {
  max-width: 600px; 
  color: white;
}

h1 {
  font-size: 2rem; 
  margin-bottom: 20px; 
}

p {
  font-size: 1.2rem; 
  line-height: 1.6; 
  margin-bottom: 20px;
}

a {
  color: inherit; /* Herda a cor do texto do elemento pai */
  text-decoration: none; /* Remove o sublinhado */
}
